@import "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap";
* {
  font-size: 14px;
}

#nav-background {
  background-color: #113b62;
}

#nav-brand {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 2em;
  color: white;
  padding: 15px;
}

#nav-items {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
}
#nav-items:hover {
  border-bottom: 1px solid white;
}

#search-element {
  padding: 0px 15px 0px;
}

.selected {
  border-bottom: 1px solid white;
}

#footer-background {
  background-color: #85a7c5;
}

.txt-footer-head, .txt-footer-latest {
  color: black;
  opacity: 0.9;
  font-family: sans-serif;
  padding-bottom: 10px;
}

#footer-text {
  font-family: sans-serif;
  color: black;
  opacity: 0.9;
}

#footer-text > li, .txt-footer-head {
  padding-left: 150px;
}

#footer-text > li > a {
  color: black;
  opacity: 0.9;
  text-decoration: none;
}
#footer-text > li > a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  #footer-text > li, .txt-footer-head {
    padding-left: 3px;
    padding-top: 3px;
  }
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

#row-pad {
  padding: 0px 3px 30px;
}

#logo-position {
  text-align: right;
  padding-bottom: 2px;
}

div > p > a {
  text-decoration: none;
  color: black;
}

#info {
  margin: 0px;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  #logo-position {
    text-align: left;
    padding-left: 5px;
  }
}