#footer-background {
  background-color: #85a7c5;
}

.txt-footer-head, .txt-footer-latest {
  color: black;
  opacity: 0.9;
  font-family: sans-serif;
  padding-bottom: 10px;
}

#footer-text {
  font-family: sans-serif;
  color: black;
  opacity: 0.9;
}

#footer-text > li, .txt-footer-head {
  padding-left: 150px;
}

#footer-text > li > a {
  color: black;
  opacity: 0.9;
  text-decoration: none;
}
#footer-text > li > a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  #footer-text > li, .txt-footer-head {
    padding-left: 3px;
    padding-top: 3px;
  }
}