@use "header-style";
@use "footer-style";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap";


$font: 'Playfair Display', serif;
$ontWeight: normal;



/* ----------------------- */
/* SUB HEADER  */
/* ----------------------- */
#header-sub {
    font-family: $font;
    font-weight: $ontWeight;
}

#sub-header-p {
    font-size: 13px;
    padding-bottom: 5px;
}

/* ----------------------- */
/* GALLERY CONTENT  */
/* ----------------------- */
#image-1 {
    height: 100%;
    width: 100%;
    &:hover {
        transform: scale(1.1);
        transition: 0.9s;
        opacity: 0.8;
    }
}


/* ----------------------- */
/* GALLERY DESCRIPTION  */
/* ----------------------- */

#image-gallery-description {
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
}

#image-gallery-description > p {
    text-align: center;
    padding-bottom: 15px;
}


/* ----------------------- */
/* COLUMNIST SIDE */
/* ----------------------- */
#latest-fashion-header {
    font-family: $font;
    font-weight: $ontWeight;
}


.fashion {
    float: left;
    margin-right: 5px;
}


#fashion-1 {
    @extend .fashion;
    width: 30%;
    height: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#fashion-2 {
    @extend .fashion;
    width: 40%;
    height: 50%;
}

#fashion-4  {
    @extend .fashion;
    width: 100%;
    height: 50%;
    &:hover {
        opacity: 0.8;
        transition: 0.9s;
    }
}


#fashion-paragraph, #column-1-collapes {
    font-size: 13px;
    text-align: justify;
    text-indent: 25px;
}

#contributor {
    padding-top: 15px;
    margin-top: 0;
}


/* ----------------------- */
/* LIFESTYLE */
/* ----------------------- */

#lifestyle-header {
    font-family: $font;
    font-weight: $ontWeight;
}

.words {
    // background-color: blue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#house-tour {
    width: 100%;
    &:hover {
        transform: scale(1.1);
        transition: 0.9s;
    }
}

 div > a {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

#prob1, #prob2, #prob3 {
    text-align: justify;
}

#life-probs:hover {
    opacity: 0.9;
    cursor: pointer;
}

#tag-heuer {
    text-align: justify;
}

