@use "header-style";
@use "footer-style";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap";

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
.description, 
#news-1-collapse, 
#news-2-collapse, 
#news-3-collapse,
#news-4-collapse {
    text-align: justify;
    text-indent: 25px;
}